version: '3.8'

services:
    prod:
        container_name: nestjs_api_prod
        image: nestjs-api-prod:1.0.0
        build:
            context: .
            dockerfile: Dockerfile
            args:
                - NODE_ENV=production
            env_file:
                - .env
        command: npm run start:prod
        ports:
            - 5000:5000
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
        restart: unless-stopped